* {
    margin: 0px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    padding: 0px 70px;
    color: white;

}

.Logo {
    height: 150px;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 10px;
    font-size: 18px;
    gap: 35px;
}

.top {
    display: flex;
    background-color: #1f2937;
    color: white;
    padding: 0px 90px;
    align-items: center;
}

.left-top {
    height: 300px;
    width: 600px;
    justify-content: space-between;
}

.image {
    height: 300px;
    width: 600px;
    margin: 50px;
}

h1 {
    font-size: 48px;
    margin-bottom: 30px;
}

button {
    background-color: #3882f6;
    color: white;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    padding: 5px 20px;
}

.pfp {
    width: 200px;
    height: 175px;
    outline: 5px solid rgb(33, 170, 216);
    border-radius: 7%;
}

.middle1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 90px;
    height: 500px;
    justify-content: space-between;
}

.pps {
    display: flex;
    gap: 35px;
    padding: 0px;
}

.disc {
    width: 200px;
}

.middle2 {
    background-color: #e5e7eb;
    height: 500px;
    display: flex;
    padding: 90px 250px;
    font-weight: bold;
    flex-wrap: wrap;
    gap: 0px;
    align-content: center;
    justify-content: end;
}

.khh {
    font-size: 36px;
    font-weight: 300;
}

.middle3 {
    padding: 90px 200px;
}

.pop {
    background-color: #3882f6;
    border-radius: 10px;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    height: 150px;
    gap: 50px;
}

.up {
    outline: 3px solid rgb(255, 255, 255);
}

.buttom {
    background-color: #1f2937;
    color: white;
    text-align: center;
    padding: 5px;
}